.color_ForceBlue {
  background-color: #5D8AA8;
}
.color_ForceBlue:hover {
  background-color: #385467;
}
.color_AliceBlue {
  background-color: #F0F8FF;
}
.color_AliceBlue:hover {
  background-color: #8ac8ff;
}
.color_Arsenic {
  background-color: #3B444B;
}
.color_Arsenic:hover {
  background-color: #0e1012;
}
.color_ArmyGreen {
  background-color: #4B5320;
}
.color_ArmyGreen:hover {
  background-color: #080904;
}
.color_BurntOrange {
  background-color: #CC5500;
}
.color_BurntOrange:hover {
  background-color: #662b00;
}
.color_Cerulean {
  background-color: #08457E;
}
.color_Cerulean:hover {
  background-color: #02101e;
}
.color_Gamboge {
  background-color: #E49B0F;
}
.color_Gamboge:hover {
  background-color: #845a09;
}
.color_Gray {
  background-color: #808080;
}
.color_Gray:hover {
  background-color: #4d4d4d;
}
.color_Heliotrope {
  background-color: #DF73FF;
}
.color_Heliotrope:hover {
  background-color: #c80dff;
}
.color_Jade {
  background-color: #00A86B;
}
.color_Jade:hover {
  background-color: #00422a;
}
.color_LemonCream {
  background-color: #FFFACD;
}
.color_LemonCream:hover {
  background-color: #fff067;
}
.color_Yellow {
  background-color: #FFFF00;
}
.color_Yellow:hover {
  background-color: #999900;
}
.color_Violet {
  background-color: #8B00FF;
}
.color_Violet:hover {
  background-color: #530099;
}
.color_Wine {
  background-color: #722F37;
}
.color_Wine:hover {
  background-color: #2a1114;
}
.color_Wisteria {
  background-color: #C9A0DC;
}
.color_Wisteria:hover {
  background-color: #9f55c1;
}
* {
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  box-sizing: border-box;
}
body {
  background-color: #4a4a4a;
  margin: 0;
  overflow-x: hidden;
}
.header {
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #313131;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header__avatar {
  margin-left: 20px;
  cursor: pointer;
  width: 70px;
}
.header__avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.header__title {
  color: #fff;
  font-weight: bold;
  font-size: 32px;
}
.header__icons {
  margin-right: 20px;
  color: #fff;
  width: 70px;
}
.header__icons span {
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
}
.header__icons .active {
  opacity: 1;
}
h1 {
  text-align: center;
  font-size: 48px;
}
.conteiner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
:root {
  --surface-color: #fff;
  --curve: 40;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.card__image {
  width: 100%;
  height: auto;
}
.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}
.card:hover .card__overlay {
  transform: translateY(0);
}
.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}
.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}
.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}
.card:hover .card__header {
  transform: translateY(0);
}
.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6A515E;
}
.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #D7BDCA;
}
.card__status {
  font-size: 0.8em;
  color: #D7BDCA;
}
.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.Game {
  box-sizing: border-box;
}
.Game_count {
  text-align: center;
  font-size: 24px;
  margin: 0 0 10px 0;
}
.Game_conteiner {
  width: 100%;
  text-align: center;
}
.Game_conteiner_row {
  margin: 0 auto;
  width: 50%;
  display: flex;
}
.Game_conteiner_row_col {
  width: 25%;
  height: 100px;
  border: 2px solid #fff;
  cursor: pointer;
}
