
.color_ForceBlue {
  background-color: #5D8AA8;

  &:hover {
    background-color: darken(#5D8AA8, 20%);
  }
}
.color_AliceBlue {
  background-color: #F0F8FF;

  &:hover {
    background-color: darken(#F0F8FF, 20%)
  }
}
.color_Arsenic {
  background-color: #3B444B;

  &:hover {
    background-color: darken(#3B444B, 20%)
  }
}
.color_ArmyGreen {
  background-color: #4B5320;

  &:hover {
    background-color: darken(#4B5320, 20%)
  }
}
.color_BurntOrange {
  background-color: #CC5500;

  &:hover {
    background-color: darken(#CC5500, 20%)
  }
}
.color_Cerulean {
  background-color: #08457E;

  &:hover {
    background-color: darken(#08457E, 20%)
  }
}
.color_Gamboge {
  background-color: #E49B0F;

  &:hover {
    background-color: darken(#E49B0F, 20%)
  }
}
.color_Gray {
  background-color: #808080;

  &:hover {
    background-color: darken(#808080, 20%)
  }
}
.color_Heliotrope {
  background-color: #DF73FF;

  &:hover {
    background-color: darken(#DF73FF, 20%)
  }
}
.color_Jade {
  background-color: #00A86B;

  &:hover {
    background-color: darken(#00A86B, 20%)
  }
}
.color_LemonCream {
  background-color: #FFFACD;

  &:hover {
    background-color: darken(#FFFACD, 20%)
  }
}
.color_Yellow {
  background-color: #FFFF00;

  &:hover {
    background-color: darken(#FFFF00, 20%)
  }
}
.color_Violet {
  background-color: #8B00FF;

  &:hover {
    background-color: darken(#8B00FF, 20%)
  }
}
.color_Wine {
  background-color: #722F37;

  &:hover {
    background-color: darken(#722F37, 20%)
  }
}
.color_Wisteria {
  background-color: #C9A0DC;

  &:hover {
    background-color: darken(#C9A0DC, 20%)
  }
}

