.color_ForceBlue {
  background-color: #5D8AA8;
}
.color_ForceBlue:hover {
  background-color: #385467;
}
.color_AliceBlue {
  background-color: #F0F8FF;
}
.color_AliceBlue:hover {
  background-color: #8ac8ff;
}
.color_Arsenic {
  background-color: #3B444B;
}
.color_Arsenic:hover {
  background-color: #0e1012;
}
.color_ArmyGreen {
  background-color: #4B5320;
}
.color_ArmyGreen:hover {
  background-color: #080904;
}
.color_BurntOrange {
  background-color: #CC5500;
}
.color_BurntOrange:hover {
  background-color: #662b00;
}
.color_Cerulean {
  background-color: #08457E;
}
.color_Cerulean:hover {
  background-color: #02101e;
}
.color_Gamboge {
  background-color: #E49B0F;
}
.color_Gamboge:hover {
  background-color: #845a09;
}
.color_Gray {
  background-color: #808080;
}
.color_Gray:hover {
  background-color: #4d4d4d;
}
.color_Heliotrope {
  background-color: #DF73FF;
}
.color_Heliotrope:hover {
  background-color: #c80dff;
}
.color_Jade {
  background-color: #00A86B;
}
.color_Jade:hover {
  background-color: #00422a;
}
.color_LemonCream {
  background-color: #FFFACD;
}
.color_LemonCream:hover {
  background-color: #fff067;
}
.color_Yellow {
  background-color: #FFFF00;
}
.color_Yellow:hover {
  background-color: #999900;
}
.color_Violet {
  background-color: #8B00FF;
}
.color_Violet:hover {
  background-color: #530099;
}
.color_Wine {
  background-color: #722F37;
}
.color_Wine:hover {
  background-color: #2a1114;
}
.color_Wisteria {
  background-color: #C9A0DC;
}
.color_Wisteria:hover {
  background-color: #9f55c1;
}
